/* General */

body {
    background-color: midnightblue;
    font-family: 'Times New Roman', Times, serif;
}

/* Main Grid */

.container {
    display: grid;
    grid-template-areas: "head head"
                          "nav nav"
                          "about about-info"
                          "skills skills-info"
                          "projects projects-info"
                          "footer footer";
    grid-template-columns: 3, 1fr;
    grid grid-auto-rows: 200px;
}

/* header and image */

header {
    border: 1px silver;
    grid-area: head;
    color: silver;    
}

header {
    background-image: url(/assets/images/cover_00384.avif);
    height: auto;
    width: 200%;
    background-repeat: no-repeat;
    background-size: 50% 100%;
    grid-area: head;
}

/* Navigation */

nav {
    grid-area: nav;
}

nav ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    text-align: center;
    color: silver;
    justify-content: space-around;
}

nav a:hover {
    text-transform: uppercase;
    font-size: 1em;
}

/* Info */

.about {
    border: 1px;
    grid-area: about;
    color: silver;
}

.about-info {
    border: 1px;
    grid-area: about-info;
    color: silver;
}

.contact {
    border: 1px;
    grid-area: contact;
    color: silver;
}

.contact-info {
    border: 1px;
    grid-area: contact-info;
    color: silver;
}

.skills {
    border: 1px;
    grid-area: skills;
    color: silver;
}

.skills-info {
    border: 1px;
    grid-area: skills-info;
    color: silver;
}

.projects {
    border: 1px;
    grid-area: projects;
    color: silver;
}

.projects-info {
    border: 1px;
    grid-area: projects-info;
    color: silver;
}

footer {
    border: 1px;
    grid-area: footer;
    color: silver;
}
