/* General */

body {
    background-color: midnightblue;
    font-family: 'Times New Roman', Times, serif;
}

/* Main Grid */

.container {
    display: grid;
    max-width: 82em;
    max-height: auto;
    margin: auto;
    grid-template-areas: "head head"
                          "nav nav"
                          "about about-info"
                          "skill skills-info"
                          "projects projects-info"
                          "footer footer";

grid-template-rows: 300px 50px 12.5em auto 500px 500px 50px;
                        

}

/* header and image */

header {
    border: 1px silver;
    grid-area: head;
    color: silver;    
}

header {
    background-image: url(/assets/images/cover_00384.avif);
    height: auto;
    width: 200%;
    background-repeat: no-repeat;
    background-size: 50% 100%;
}

/* Navigation */

nav {
    grid-area: nav;
}

nav ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    text-align: center;
    color: silver;
    justify-content: space-around;
}

nav a:hover {
    text-transform: uppercase;
    font-size: 1em;
}

